@model IEnumerable<SeedProject_V6.Models.SeedProduct>

@{
    Layout = "_Layout";
    ViewBag.Title = "English Learning - Seed";
}

<div class="container">
    <h2 class="page-section-heading text-center text-uppercase pb-5">All Products</h2>
    <div class="row col-xl-12 col-md-offset-2 custyle">
        <table class="table table-striped custab">
            <thead>
                <tr class="text-center">
                    <th>Class</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Purchase</th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr class="">
                    <td><img src="@item.ProductInfo.ProductImg" style="width: 150px; height: 150px;" /></td>
                    <td class="text-center align-middle">@item.ProductInfo.ProductDescription</td>
                    <td class="text-center align-middle">@item.ProductInfo.ProductPrice $</td>
                    <td class="text-center align-middle"><a class='btn btn-primary' style="width: 150px;" asp-action="goToCart" asp-route-ProductID="@item.ProductId">Add to Card</a></td>
                </tr>
            }
        </table>
    </div>
</div>