@page
@{
    ViewBag.Title = "Home Page";
}
<header class="container-fluid bg-primary text-white text-center ">
    <div class="row mx-auto">
        <!-- ONE-STOP -->
        <div class="col-xl-2 col-lg-12 col-md-12 col-xs-12 p-0 float-left">
            <div class="card text-white border-0 rounded-0 h-100">
                <div class="card-body">
                    <h5 class="card-title">ONE-STOP</h5>
                    <p class="card-text">For kids who are struggling with scores and confidence and have slipped behind. We guarantee results!</p>
                </div>
            </div>
        </div>
        <div class="col-xl-7 col-md-12 col-xs-12 p-0">
            <div id="main-carousel" class="carousel slide forceFullHeight" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#main-carousel" data-slide-to="1"></li>
                    <li data-target="#main-carousel" data-slide-to="2"></li>
                    <li data-target="#main-carousel" data-slide-to="3"></li>
                </ol><!-- /.carousel-indicators -->

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100 img-fluid resizable-img" src="~/images/6pix01.png" alt="">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100 img-fluid resizable-img" src="~/images/6pix02.png" alt="">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100 img-fluid resizable-img" src="~/images/6pix03.png" alt="">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100 img-fluid resizable-img" src="~/images/6pix04.png" alt="">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100 img-fluid resizable-img" src="~/images/6pix05.png" alt="">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100 img-fluid resizable-img" src="~/images/6pix06A.png" alt="">
                    </div>
                </div><!-- /.carousel-inner -->

                <a href="#main-carousel" class="carousel-control-prev" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                    <span class="sr-only" aria-hidden="true">Prev</span>
                </a>
                <a href="#main-carousel" class="carousel-control-next" role="button" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                    <span class="sr-only" aria-hidden="true">Next</span>
                </a>
            </div><!-- /.carousel -->
        </div>

        <!--Subject offers-->
        <div class="col-xl-3 col-lg-12 col-md-12 col-xs-12 float-right no-padding offers" id="offers">
            <div class="card border-0 rounded-0 first offer">
                <div class="card-body card-txt d-flex flex-column justify-content-around">
                    <div class="">
                        <h5 class="card-title text-uppercase">English learning</h5>
                        <p class="card-text">For kids who are struggling with scores and confidence and have slipped behind. We guarantee results!</p>
                        <a href="#" class="btn btn-primary">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="card border-0 rounded-0 second offer">
                <div class="card-body card-txt align-content-center d-flex flex-column justify-content-around">
                    <div class="">
                        <h5 class="card-title text-uppercase">Math & Science</h5>
                        <p class="card-text">For the smartest</p>
                        <a href="#" class="btn btn-primary">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="card border-0 rounded-0 third offer">
                <div class="card-body card-txt d-flex flex-column justify-content-around">
                    <div>
                        <h5 class="card-title text-uppercase">Credit & School application</h5>
                        <p class="card-text">Helping you with school and credit applications</p>
                        <a href="#" class="btn btn-primary">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="card border-0 rounded-0 fourth offer">
                <div class="card-body card-txt d-flex flex-column justify-content-around">
                    <div>
                        <h5 class="card-title text-uppercase">Test prep</h5>
                        <p class="card-text">For kids who are on the fast track or need help with advanced coursework, homework and big tests.</p>
                        <a href="#" class="btn btn-primary">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Seed story Section-->
<section class="page-section text-white" id="about">
    <div class="container overflow-hidden">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary">Seed story</h2>
        <!-- About Section Content-->

        <div class="row pt-5 font-weight-bold text-uppercase">
            <div class="col-xl-3 col-md-6 col-xs-12">
                <div class="card bg-secondary p-0">
                    <div class="card-body text-center">
                        <h4 class="card-title"><i class="fas fa-book-open"></i></h4>
                        <h4 class="card-subtitle pt-3">125</h4>
                        <a href="#" class="nav-link p-0 pt-0"><h5>Courses</h5></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-xs-12 py-1">
                <div class="card bg-secondary p-0">
                    <div class="card-body text-center">
                        <h4 class="card-title"><i class="fas fa-user"></i></h4>
                        <h4 class="card-subtitle pt-3">323</h4>
                        <a href="#" class="nav-link p-0 pt-0"><h5>Courses</h5></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-xs-12 py-1">
                <div class="card bg-secondary p-0">
                    <div class="card-body text-center">
                        <h4 class="card-title"><i class="fas fa-calendar-alt"></i></h4>
                        <h4 class="card-subtitle pt-3">230</h4>
                        <a href="#" class="nav-link p-0 pt-0"><h5>Courses</h5></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-xs-12 py-1">
                <div class="card bg-secondary p-0">
                    <div class="card-body text-center">
                        <h4 class="card-title"><i class="fas fa-graduation-cap"></i></h4>
                        <h4 class="card-subtitle pt-3">762</h4>
                        <a href="#" class="nav-link p-0 pt-0"><h5>Courses</h5></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="jumbotron-fluid">
        <div class="container justify-content-between overflow-hidden">
            <!-- Seed feed-->
            <!-- first row-->
            <div class="row">
                <div class="col-xl-8 col-md-12 col-xs-12" id="seed-feed">
                    <div class="card progress-text p-0 text-secondary feed-card">
                        <div class="card-body text-center">
                            <h4 class="card-title text-uppercase">
                                9 out of 10 SEED PARENTS AGREE THAT
                                ENROLLING IN SEED WAS A GOOD DECISION.
                            </h4>
                            <h5 class="card-subtitle pt-3 font-italic">
                                "SEED improved my child's confidence and grades at school" <br />
                                "My child benefited from the coaching system at SEED"  <br />
                                "SEED Teachers were very engaging and approachable"
                            </h5>
                            <a href="#" class="nav-link p-0 pt-4"><h5>Find out more!</h5></a>
                        </div>
                    </div>
                </div>
                @*when second row is back change the display options to col-md-12*@
                <div class="col-xl-4 col-lg-6 col-md-6 col-xs-12" id="seed-feed">
                    <div class="card feed-card">
                        <img class="card-img parents" src="~/images/Parents Picture 02.png" alt="Card image cap">
                        <div class="card-img-overlay h-100 d-flex flex-column justify-content-end">
                            <h4 class="card-title text-white" id="card-border-text">Parents</h4>
                        </div>
                    </div>
                </div>
                <!-- second row-->
                @*                <div class="col-xl-4 col-md-6 col-xs-12" id="seed-feed">
                        <div class="card feed-card">
                            <img class="card-img" src="https://my.jsweb.uk//modules/addons/RSProductExtended/APP/Storage/28/thumb.png" alt="Card image cap">
                            <div class="card-img-overlay h-100 d-flex flex-column justify-content-end">
                                <h4 class="card-title text-white" id="card-border-text">Grade improvement</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-xs-12" id="seed-feed">
                        <div class="card feed-card">
                            <img class="card-img" src="https://www.ferrickteamdentistry.com/wp-content/uploads/2018/06/Ferrick-will-Check-all-the-Boxes-When-Choosing-Your-Next-Kids-Dentist-Ferrick-Team-Dentistry-CA-300x295.png" alt="Card image cap">
                            <div class="card-img-overlay h-100 d-flex flex-column justify-content-end">
                                <h4 class="card-title text-white" id="card-border-text">Admission data</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-xs-12" id="seed-feed">
                        <div class="card feed-card">
                            <img class="card-img" src="https://drlindasblog.com/img/A+1.jpg" alt="Card image cap">
                            <div class="card-img-overlay h-100 d-flex flex-column justify-content-end">
                                <h4 class="card-title text-white" id="card-border-text">...</h4>
                            </div>
                        </div>
                    </div>*@
                <!-- third row-->
                <div class="col-xl-4 col-lg-6 col-md-6 col-xs-12" id="seed-feed">
                    <div class="card feed-card">
                        <img class="card-img feed-img students" src="~/images/students.png" alt="Card image cap">
                        <div class="card-img-overlay h-100 d-flex flex-column justify-content-end">
                            <h4 class="card-title text-white" id="card-border-text">Our students</h4>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8 col-md-12 col-xs-12" id="seed-feed">
                    <div class="card progress-text p-0 text-secondary feed-card">
                        <div class="card-body text-center">
                            <h4 class="card-title text-uppercase">
                                99.6% of Our Students
                                Got into Their Desired University
                            </h4>
                            <h5 class="card-subtitle font-italic pt-3">
                                "SEED helped me get into U of T Med Schoo!"<br />
                                "I really appreciate SEED's coach in <br />
                                "I really enjoyed attending SEED events to upgrade my profiles"
                            </h5>
                            <a href="#" class="nav-link p-0 pt-4"><h5>Find out more!</h5></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-section text-white mb-0" id="method">
    <div class="jumbotron">
        <div class="container pb-5">
            <!-- Method Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-secondary ">Seed method</h2>
            <!-- Method Section Content-->
            <div class="row pt-5 font-weight-bold text-uppercase">
                <div class="col-xl-4 col-md-4 p-1 d-flex flex-row justify-content-around">
                    <div class="card bg-secondary p-0 method-section-card">
                        <div class="card-body text-center">
                            <div class="d-flex flex-column justify-content-center h-100">
                                <a href="#"><h5 class="method-text">Experience<br /> Strengthens<br /> Learning<br /> (Gr.3-Gr.9)</h5></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 p-1 d-flex flex-row justify-content-around">
                    <div class="card bg-secondary p-0 method-section-card">
                        <div class="card-body text-center">
                            <div class="d-flex flex-column justify-content-center h-100">
                                <a href="#"><h5 class="method-text">Academic<br /> Credit<br /> Essential<br /> (Gr.8-Gr.11)</h5></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 p-1 d-flex flex-row justify-content-around">
                    <div class="card bg-secondary p-0 method-section-card">
                        <div class="card-body text-center">
                            <div class="d-flex flex-column justify-content-center h-100">
                                <a href="#"><h5 class="method-text">Test<br /> Advancement<br /> Preparation<br /> (Gr.10-Gr.12)</h5></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-section text-white" id="partners">
    <h2 class="page-section-heading text-center text-uppercase text-secondary">Seed Partners</h2>
    <div class="container pb-5">
        <div class="customer-logos slider pt-5">
            <div class="slide"><img src="~/images/partners/HCDSB LOGO.png"></div>
            <div class="slide"><img src="~/images/partners/LynnRoseCrest LOGO.png"></div>
            <div class="slide"><img src="~/images/partners/SHERIDAN LOGO.png"></div>
            <div class="slide"><img src="~/images/partners/TDSB LOGO.png"></div>
            <div class="slide"><img src="~/images/partners/LynnRoseCrest LOGO.png"></div>
            <div class="slide"><img src="~/images/partners/TDSB LOGO.png"></div>
            <div class="slide"><img src="~/images/partners/HCDSB LOGO.png"></div>
            <div class="slide"><img src="~/images/partners/SHERIDAN LOGO.png"></div>
        </div>
    </div>
</section>
<section class="page-section text-white form-section" id="contact_us">
    <div class="jumbotron">
        <h2 class="page-section-heading text-center text-uppercase text-secondary">Contact Us</h2>
        <div class="container contact-form">
            <div class="contact-image">
                <img src="~/images/logo/SEED LOGO.png" alt="rocket_contact" />
            </div>
            <form method="post">
                <h3 class="text-primary">Who are you?</h3>
                <div class="row py-2 text-secondary">
                    <div class="col-md-12 text-center">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="contactOptions" id="studentCheckBox" value="option1">
                            <label class="form-check-label" for="studentCheckBox">Student</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="contactOptions" id="TeacherCheckBox" value="option1">
                            <label class="form-check-label" for="TeacherCheckBox">Teachers/Partners</label>
                        </div>
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" name="txtName" class="form-control" placeholder="Your Name *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="txtEmail" class="form-control" placeholder="Your Email *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="txtPhone" class="form-control" placeholder="Your Phone Number *" value="" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <textarea name="txtMsg" class="form-control" placeholder="Your Message *" style="width: 100%; height: 150px;"></textarea>
                        </div>
                    </div>
                </div>
                <div class="form-group text-center">
                    <input type="submit" name="btnSubmit" class="btnContact text-uppercase" value="Send Message" />
                </div>
            </form>
        </div>
    </div>
</section>