@{
    Layout = "_Layout";
    ViewBag.Title = "Introduction";
}

<section class="page-section text-white mb-0 pt-0" id="seed_about">
    <div class="jumbotron">
        <div class="container pb-5">
            <!-- Method Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-secondary ">About Seed</h2>
            <!-- Method Section Content-->
            <div class="row pt-5 font-weight-bold text-uppercase">
                <div class="col-xl-12 col-md-12 p-2 d-flex flex-row justify-content-around">
                    <h5 class="text-wrap text-center text-secondary">
                        SEED ACADEMY is an education hub specialized in providing one-top empowerment to help students achieve higher at school, Academically and Socially.
                    </h5>
                </div>
                <div class="col-xl-12 col-md-12 p-2 d-flex flex-row justify-content-around">
                    <h5 class="text-wrap text-center text-secondary">
                        Since 2012, S.E.E.D. has served students in Los Angeles (US), Toronto and Hamilton (Canada). 
                        Students achievement proves that Target-Oriented Practice is most effective learning strategy.
                    </h5>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page-section mb-0" id="seed_features">
    <!-- Section heading -->
    <h2 class="page-section-heading text-center text-uppercase text-secondary">Why Seed is so great?</h2>
    <div class="container">
        <!-- Section description -->
        <div class="row pt-5 font-weight-bold text-uppercase">
            <div class="col-xl-12 col-xs-12 d-flex justify-content-end">
                <h5 class="text-wrap text-center">
                    SEED ACADEMY is an education hub specialized in providing one-top empowerment to help students achieve higher at school, Academically and Socially.
                </h5>
            </div>
        </div>

        <div class="row pt-5">
            <div class="col-xs-12 col-md-6 col-xl-6">

                <div class="row mb-3">
                    <div class="col-2">
                        <i class="fas fa-2x fa-flag-checkered deep-purple-text"></i>
                    </div>
                    <div class="col-10">
                        <h5 class="font-weight-bold mb-3 text-primary">Guranteed Results</h5>
                        <p class="grey-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
                            nam, aperiam minima assumenda deleniti hic.
                        </p>
                    </div>
                </div>


                <div class="row mb-3">
                    <div class="col-2">
                        <i class="fa fa-2x fa-handshake deep-purple-text"></i>
                    </div>
                    <div class="col-10">
                        <h5 class="font-weight-bold mb-3 text-primary">Trusting Resources</h5>
                        <p class="grey-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
                            nam, aperiam minima assumenda deleniti hic.
                        </p>
                    </div>
                </div>


                <div class="row mb-3">
                    <div class="col-2">
                        <i class="fas fa-2x fa-chalkboard-teacher deep-purple-text"></i>
                    </div>
                    <div class="col-10">
                        <h5 class="font-weight-bold mb-3 text-primary">Reliable Teachers</h5>
                        <p class="grey-text mb-md-0">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                            maiores nam, aperiam minima assumenda deleniti hic.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-6 col-xl-6">

                <div class="row mb-3">
                    <!--Second col 1st row-->
                    <div class="col-2">
                        <i class="fa fa-2x fa-level-up-alt deep-purple-text"></i>
                    </div>
                    <div class="col-10">
                        <h5 class="font-weight-bold mb-3 text-primary">Grade Improvement</h5>
                        <p class="grey-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
                            nam, aperiam minima assumenda deleniti hic.
                        </p>
                    </div>
                </div>


                <div class="row mb-3">
                    <!--Second col 2st row-->
                    <div class="col-2">
                        <i class="fas fa-2x fa-chalkboard deep-purple-text"></i>
                    </div>
                    <div class="col-10">
                        <h5 class="font-weight-bold mb-3 text-primary">Learning Made Interesting</h5>
                        <p class="grey-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
                            nam, aperiam minima assumenda deleniti hic.
                        </p>
                    </div>
                </div>


                <div class="row mb-3">
                    <!--Second col 3st row-->
                    <div class="col-2">
                        <i class="fas fa-2x fa-hands-helping deep-purple-text"></i>
                    </div>
                    <div class="col-10">
                        <h5 class="font-weight-bold mb-3 text-primary">Guidance Step-by-Step</h5>
                        <p class="grey-text mb-0">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit
                            maiores nam, aperiam minima assumenda deleniti hic.
                        </p>
                    </div>
                </div>

            </div>

        </div>

    </div>

</section>