.myCard {
    height: 260px;
}

/*.first {
    background-color: cornflowerblue;
}

.second {
    background-color: seagreen;
}

.third {
    background-color: mediumpurple;
}

.fourth {
    background-color: hotpink;
}*/

.cardText {
    color: whitesmoke;
    width: 300px;
}

.plus {
    text-shadow: 3px 6px #272634;
}

.no-padding {
    padding: 0
}




.method-section-card {
    height: 250px;
    width: 250px;
    border: thick;
    border-radius: 360px;
}

.low {

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../images/low.jpg") !important;
    background-size: 100%;
}

.mid {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../images/mid.jpg") !important;
    background-size: 100%;
}
.high {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../images/high.png") !important;
    background-size: 100%;
}



h5.method-text {
   color: white; 
}

h5.method-text:hover {
    text-decoration: none;
    color: #FFA500;
}