<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]Tutoring website</title>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/css/infinite-slider.css" rel="stylesheet" />
    <link href="~/css/styles.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    <header class="navigation sticky-top" id="navbar">
        <!-- Main Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-secondary justify-content-between main-menu text-uppercase pt-3 pb-3">

            <a class="navbar-brand" asp-action="Index">
                <img src="~/images/logo/SEED LOGO.png" width="32" height="40" alt="logo">
            </a>
            <h4 class="navbar-title">SEED ACADEMY</h4>
            <div class="navbar-nav top-nav">
                <a class="nav-item nav-link" asp-action="SignIn">Login</a>
                <a class="nav-item nav-link" href="#contact_us">Contact us</a>
            </div>
        </nav>

        <!-- Lower Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-secondary sub-menu text-uppercase ">
            <a class="navbar-brand" href="#"></a>
            <!--
                        <button class="navbar-toggler hamburger-button" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon hamburger-icon"></span>
                        </button>
            -->

            <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0 submenu-tabs">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" asp-action="Index" asp-controller="Home" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Home
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#seed_story">SEED STORY</a>
                            <a class="dropdown-item" href="#seed_method">SEED METHOD</a>
                            <a class="dropdown-item" href="#seed_partners">SEED PARTNERS</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Introduction">Introduction</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Course
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" asp-action="Course">SKILL LEARNING</a>
                            <a class="dropdown-item" asp-action="Course">ACADEMIC BOOST</a>
                            <a class="dropdown-item" asp-action="Course">TEST PREP</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="SchoolProgram">School program</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="SignUp">Register</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>


    <div class="container-fluid" style="padding: 0px;">
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>

    <section class="page-section text-white form-section" id="contact_us">
        <div class="jumbotron">
            <h2 class="page-section-heading text-center text-uppercase text-secondary">Contact Us</h2>
            <div class="container contact-form">
                <div class="contact-image">
                    <img src="~/images/logo/SEED LOGO.png" alt="rocket_contact" />
                </div>
                <form method="post">
                    <h3 class="text-primary">Who are you?</h3>
                    <div class="row py-2 text-secondary">
                        <div class="col-md-12 text-center">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="contactOptions" id="studentCheckBox" value="option1">
                                <label class="form-check-label" for="studentCheckBox">Student</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="contactOptions" id="TeacherCheckBox" value="option1">
                                <label class="form-check-label" for="TeacherCheckBox">Teachers/Partners</label>
                            </div>
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" name="txtName" class="form-control" placeholder="Your Name *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="text" name="txtEmail" class="form-control" placeholder="Your Email *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="text" name="txtPhone" class="form-control" placeholder="Your Phone Number *" value="" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <textarea name="txtMsg" class="form-control" placeholder="Your Message *" style="width: 100%; height: 150px;"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <input type="submit" name="btnSubmit" class="btnContact text-uppercase" value="Send Message" />
                    </div>
                </form>
            </div>
        </div>
    </section>

    <footer class="footer text-center">
        <div class="container">
            <div class="row">
                <!-- Footer Location-->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Location</h4>
                    <p class="lead mb-0">
                        2215 Clark Ave.
                        <br />
                        Oakville, ON L1E 3E7
                    </p>
                </div>
                <!-- Footer Social Icons-->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Around the Web</h4>
                    <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-linkedin-in"></i></a>
                    <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-dribbble"></i></a>
                </div>
                <!-- Footer About Text-->
                <div class="col-lg-4">
                    <h4 class="text-uppercase mb-4">Copyright</h4>
                    <p class="lead mb-0">
                        © Copyright 2021 SEED ACADEMY SITEMAP
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
    <script src="~/js/carousel.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
